* {
	margin:0;
	padding:0;

}

#page{
	width: 90%;
	margin: 0 auto;
}

#header{
	width: 100%;
	height:50px;
	border: 1px solid #000;
	margin-top:20px;
}

#menu{
	position:absolute;
	width:16%;
	height:540px;
	border: 1px solid #000;
}

#content{
	margin-left:18%;
	width: 82%;
	height:540px;
	border: 1px solid #000;	
}

#botoesUrna{
	color: #111111;
	margin-left:62%;
	margin-top:19%;
	width:282px;
	height:297px;
}

.branco{
	margin-left:16px;
	height:36px;
	width:66px;
	font-size:12px !important;
	font-style:bold;
	position:center;
}

.corrige{
	margin-left:20px;
	font-family:Times;
	background-color: #ff8000;
	height:36px;
	width:66px;
	font-size:11px !important;
	position:center;
}

.confirma{
	margin-left:19px;
	margin-top:1px;
	height:41px;
	width:66px;
	font-size:10px !important;
	position:center;
}

#telaUrna{
	font-family:Arial;
	color:#ffffff;
	margin-left:9%;
	margin-top:-322px;
	height:280px;
	width:475px;
	background-color: #005329;
}